@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  background-color: rgba(0, 0, 0, 0.951);
  background-size: cover;
  color: white;
}

main {
  position: relative;
  z-index: 10;
}

.fixed {
  z-index: 1;
}