@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  background-color: rgb(0, 0, 0);
  background-size: cover;
  color: white;
}

.aboutimg {
  border-radius: 100%;
}

main {
  position: relative;
  z-index: 10;
}

.fixed {
  z-index: 1;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.code-snippet {
  position: absolute;
  opacity: 0;
  animation: slideIn 3s ease-in-out forwards;
}

.snippet1 {
  top: 25%;
  left: 0;
  right:10%;
  animation-delay: 0.5s;
}

.snippet2 {
  top: -40%;
  left: 20%;
  right:10%;
  animation-delay: 1s;
}

.snippet3 {
  top: 30%;
  left: 40%;
  right:10%;
  animation-delay: 1.5s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.chip-0 {
  top: 50px;
  left: 0px;
}

.chip-1 {
  top: 150px;
  left: 200px;
}

.chip-2 {
  top: 190px;
  left: 400px;
}

.chip-3 {
  top: 50px;
  left: 820px;
}

.chip-4 {
  top: 50px;
  left: 1600px;
}

.chip-5 {
  top: 20px;
  left: 1050px;
}

.chip-6 {
  top: 50px;
  left: 1300px;
}
